
@{
    Layout = null;
}

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Category</th>
        <th>Description</th>
    </tr>
    <tbody>
        @*@foreach ()
        {
            <tr>
                <td></td>
            </tr>
        }*@

    </tbody>
</table>

