@{
    ViewBag.Title = "WriterContent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    @@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
</style>

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-0">
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li style="margin-top:5px"><i style="font-size:25px;" class="fas fa-chart-line"></i></li>
                    <li style="margin-left:10px"><h1 style="font-family: 'Kanit', sans-serif;" class="m-0"> Writer-Content</h1></li>
                </ol>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active">WebDictionary v1</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<div class="row">
    <section class="col-lg-12">
        <div class="card" style="background-color: #181A1F; color: #9FA0A2; border-radius: 40px; padding: 30px;">           
            <div class="card-body">
                <div id="Piechart_div"></div>
            </div>
        </div>
    </section>
</div>


@section scriptshead
{
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                url: '@Url.Action("WriterContentChart", "Chart")',
                success: function (result) {
                    google.charts.load('current', {
                        'packages': ['corechart']
                    });
                    google.charts.setOnLoadCallback(function () {
                        drawChart(result);
                    });
                }
            });
        });

        function drawChart(result) {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'WriterName');
            data.addColumn('number', 'Count');
            var dataArray = [];

            $.each(result, function (i, obj) {
                dataArray.push([obj.WriterName, obj.Count]);
            });
            data.addRows(dataArray);

            var columnChartOptions = {
                title: "Writer-Content Chart",
                width : '100%',
                height: 700,
                bar: { groupWidth: "20%" },
            };

            var columnChart = new google.visualization.BarChart(document
                .getElementById('Piechart_div'));

            columnChart.draw(data, columnChartOptions);
        }
    </script>
}

@section scripts{
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
         $(document).ready(function () {
            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                url: '@Url.Action("WriterContentChart", "Chart")',
                success: function (result) {
                    google.charts.load('current', {
                        'packages': ['corechart']
                    });
                    google.charts.setOnLoadCallback(function () {
                        drawChart(result);
                    });
                }
            });
        });
        $(function drawChart(result) {
            //-------------
            //- PIE CHART -
            var donutData = {
                labels: [obj.WriterName],
                datasets: [obj.Count]
            }
            // Get context with jQuery - using jQuery's .get() method.
            var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
            var pieData = donutData;
            var pieOptions = {
                maintainAspectRatio: false,
                responsive: true,
            }
            //Create pie or douhnut chart
            // You can switch between pie and douhnut using the method below.
            var pieChart = new Chart(pieChartCanvas, {
                type: 'bar',
                data: pieData,
                options: pieOptions
            })
            pieChart.draw(pieData, pieOptions);
        })
    </script>
    <script>
        $(document).ready(function () {
            $('#Chart').addClass('active');
        });
    </script>
}

