@using EntityLayer.Concrete
@model List<Skill>

<div class="container">
    <div class="inner-sec-w3ls py-lg-5 py-4">
        <div class="info-about text-center">
            <h4 class="sub-tittle-w3">Tech Stacks</h4>
            <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3">Tech Stacks I Used</h3>
            <div class="row mt-lg-5 mt-3">
                @for (int i = 0; i < Model.Count; i++)
                {
                    if (i % 3 == 0 && i != 0)
                    {
                    @:</div> <!-- Önceki row bölümünü kapat -->
                    @:<div class="row">
                    }

                    <div class="col-lg-4">
                        <div class="progress-one my-lg-5" data-aos="fade-up">
                            <h4 class="progress-tittle-w3">@Model[i].SkillName</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated @Model[i].SkillColor" role="progressbar" style="width: @Model[i].SkillValue%" aria-valuenow="@Model[i].SkillValue" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
